@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    list-style-type: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    --sec: #323232;
    --main: aliceblue;
    --accent: #2ea5a9;
    --white: #fff;
    --black:black;
    --grey: #f2f3f5;
    --red: #f73c3c;
    --fadered: #d83432;
}
.Opacity{
    opacity: 0.3;
    transition: 0.3s;
    pointer-events: none;
}